
/*------ Hero section--------*/
.hero {
  background-image: url("./images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg");
  background-size: cover;
  height: 650px;
}
.heading {
  font-size: 80px;
  padding-top: 150px;
}
.course {
  font-size: 30px;
}  
.sites .icons {
  font-size: 30px; 
} 

/* ------- About -------*/
.about {
  align-items: center;
  display: flex; 
  position: relative; 
}
.about h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}
.about p {
  font-weight: 300;
  font-size: 20px;
}
.about .Aboutme {
  background-image: url("./images/alejandro-escamilla-tAKXap853rY-unsplash.jpg");
  background-size: cover;
  background-position:  center;  
  min-height: 500px;
}
.about .description {
  line-height: 1.5
}
.about .Title {
  font-weight: 500;
  font-size: 40px;
  }

/*------ Portfolio --------*/
.Heading {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
.card {
  margin-top: 30px;
}  

/*------- contact info -------*/
.sec-title {
 
  font-weight: 500;
  font-size: 40px;
}
.con-title {
  font-weight:150px;
  font-size: 25px;
}
.con-text {
  font-size: 15px;
}

.link {
  right: 140px;
}

